<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body background="{%static 'image/1.jpg' %}" style="background-size: cover;">
    <style>
        .box{
            display: flex;
            
        }
        .columns{
            flex-direction: column;
        }
    </style>
    <section class="hero is-link">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <center> Weather across cities</center>
                    <i class="fa-regular fa-sun-cloud"></i>
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    

                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                    
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° F</span>
                                        <br> {{ weather.description }}
                                        <br> {{ weather.wind }}
                                    </p>
                                    
                                </div>
                            </div>
                            <br>
                           
                        </article>
                    </div>
                </div>


                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ ker_Weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ ker_Weather.temperature }}° C</span>
                                        <br> {{ ker_Weather.description }}
                                        <br> {{ ker_Weather.wind }}
                                    </p>
                                </div>
                            </div>
                            <br>
                           
                        </article>
                    </div>
                </div>

                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ blr_Weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ blr_Weather.temperature }}° C</span>
                                        <br> {{ blr_Weather.description }}
                                        <br> {{ blr_Weather.wind }}
                                    </p>
                                </div>
                            </div>
                            <br>
                           
                        </article>
                    </div>
                </div>

                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ mum_Weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ mum_Weather.temperature }}° C</span>
                                        <br> {{ mum_Weather.description }}
                                        <br> {{ mum_Weather.wind }}
                                    </p>
                                </div>
                            </div>
                            <br>
                           
                        </article>
                    </div>
                </div>

                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ ga_Weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ ga_Weather.temperature }}° C</span>
                                        <br> {{ ga_Weather.description }}
                                        <br> {{ ga_Weather.wind }}
                                    </p>
                                </div>
                            </div>
                            <br>
                           
                        </article>
                    </div>
                </div>


                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ lon_Weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ lon_Weather.temperature }}° C</span>
                                        <br> {{ lon_Weather.description }}
                                        <br> {{ lon_Weather.wind }}
                                    </p>
                                </div>
                            </div>
                            <br>
                           
                        </article>
                    </div>
                </div>

                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ chi_Weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ chi_Weather.temperature }}° C</span>
                                        <br> {{ chi_Weather.description }}
                                        <br> {{ chi_Weather.wind }}
                                    </p>
                                </div>
                            </div>
                            <br>
                           
                        </article>
                    </div>
                </div>



            </div>
        </div>
    </section>

 </div>
</body>
</html>